<div class="container mt-5" style="margin-bottom: 200px;">
    <div class="row">
        <div class="col-md-12">
            <div id="confirmedAlert" class="alert alert-success" style="display:none" role="alert">
                <span>Your email address has been successfully confirmed. You can go to the main page by
                      <a class="alert-link" href="http://localhost/carmarket/">Clicking here.</a>
                </span>
            </div>
            <div id="confirmedAlertError" class="alert alert-danger" style="display:none" role="alert"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        var urlParams = new URLSearchParams(window.location.search);
        if(urlParams.has('confirmation')){
            $.get("api/confirm/" + urlParams.get('confirmation')).done(function(data){
                $("#confirmedAlert").show();
                window.localStorage.setItem("token", data.token);
            }).fail(function(error){
                $('#confirmedAlertError').show().text( error.responseJSON.message );
            });
        } else {
            $('#confirmedAlertError').show().text("No token found!");
        }
    })
</script>
