<!--<script src="assets/js/quick-search.js"></script> -->
<link rel="stylesheet" href="assets/css/loader.css">
<div class="container" style="margin-top: 18px;">
    <div class="row text-center justify-content-center">
        <div class="col-md-12 col-lg-12 col-xl-11 col-xxl-3">
            <div class="card sticky-md-top">
                <h4 class="text-center" style="margin: 6px 0 0;"><strong>Search</strong></h4>
                <form id="searchForm" onsubmit="updateListings(1); return false;">
                <div class="row" style="margin: auto; width:100%;">
                    <div class="col-6 col-md-6 col-lg-3 col-xl-2 col-xxl-6" style="padding: 8px;">
                        <h6 class="text-text-muted">Brand</h6><select name="brand" id="searchBrand" class="js-brand js-select2-notags js-select2-settings">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-6 col-md-6 col-lg-3 col-xl-2 col-xxl-6" style="padding: 8px;">
                        <h6 class="text-text-muted">Model</h6><select name="model" class="js-model js-select2-notags js-select2-settings" disabled="">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-xl-4 col-xxl-12" style="padding: 8px;">
                        <div class="row">
                            <div class="col-lg-12">
                                <h6 class="text-text-muted">Year of production</h6>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6" style="padding-right: 8px;"><select name="fabricated_min" id="year-min" class="js-year-min js-select2-tags js-select2-settings">
                                    <option value=""></option>
                                </select></div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6" style="padding-left: 8px;"><select name="fabricated_max" id="year-max" class="js-year-max js-select2-tags js-select2-settings">
                                    <option value=""></option>
                                </select></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 col-xxl-12" style="padding: 8px;">
                        <div class="row">
                            <div class="col-lg-12">
                                <h6 class="text-text-muted">Mileage</h6>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="padding-right: 8px;"><select name="km_min" class="js-km-min js-select2-tags js-select2-settings">
                                    <option value=""></option>
                                    <option value="5000">5 000 km</option>
                                    <option value="10000">10 000 km</option>
                                    <option value="20000">20 000 km</option>
                                    <option value="50000">50 000 km</option>
                                    <option value="100000">100 000 km</option>
                                    <option value="125000">125 000 km</option>
                                    <option value="150000">150 000 km</option>
                                    <option value="200000">200 000 km</option>
                                    <option value="250000">250 000 km</option>
                                </select></div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="padding-left: 8px;"><select name="km_max" class="js-km-max js-select2-tags js-select2-settings">
                                    <option value=""></option>
                                    <option value="5000">5 000 km</option>
                                    <option value="10000">10 000 km</option>
                                    <option value="20000">20 000 km</option>
                                    <option value="50000">50 000 km</option>
                                    <option value="100000">100 000 km</option>
                                    <option value="125000">125 000 km</option>
                                    <option value="150000">150 000 km</option>
                                    <option value="200000">200 000 km</option>
                                    <option value="250000">250 000 km</option>
                                </select></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 col-xxl-12" style="padding: 8px;">
                        <div class="row">
                            <div class="col-lg-12">
                                <h6 class="text-text-muted">Motor size</h6>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="padding-right: 8px;"><select name="motor_size_min" id="motor-min" class="js-motor-min js-select2-tags js-select2-settings">
                                    <option value=""></option>
                                </select></div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="padding-left: 8px;"><select name="motor_size_max" id="motor-max" class="js-motor-max js-select2-tags js-select2-settings">
                                    <option value=""></option>
                                </select></div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-2 col-xxl-6" style="padding: 8px;">
                        <h6 class="text-text-muted">Gearbox</h6><select name="gearbox" class="js-gear js-select2-notags js-select2-settings">
                            <option value=""></option>
                            <option value="1">Manual</option>
                            <option value="2">Automatic</option>
                        </select>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-2 col-xxl-6" style="padding: 8px;">
                        <h6 class="text-text-muted">Fuel</h6><select name="fuel_type" class="js-fuel js-select2-notags js-select2-settings">
                            <option value=""></option>
                            <option value="1">Gasoline</option>
                            <option value="2">Diesel</option>
                            <option value="3">Gas</option>
                            <option value="4">Hybrid</option>
                            <option value="5">Electric</option>
                        </select>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4 col-xxl-12" style="padding: 8px;">
                        <div class="row">
                            <div class="col-lg-12">
                                <h6 class="text-text-muted">Price</h6>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="padding-right: 8px;"><select name="price_min" class="js-price-min js-select2-tags js-select2-settings">
                                    <option value=""></option>
                                    <option value="1000">1 000 €</option>
                                    <option value="2000">2 000 €</option>
                                    <option value="5000">5 000 €</option>
                                    <option value="10000">10 000 €</option>
                                    <option value="20000">20 000 €</option>
                                    <option value="30000">30 000 €</option>
                                    <option value="40000">40 000 €</option>
                                    <option value="50000">50 000 €</option>
                                    <option value="60000">60 000 €</option>
                                    <option value="70000">70 000 €</option>
                                    <option value="80000">80 000 €</option>
                                    <option value="90000">90 000 €</option>
                                    <option value="100000">100 000 €</option>
                                    <option value="200000">200 000 €</option>
                                </select></div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="padding-left: 8px;"><select name="price_max" class="js-price-max js-select2-tags js-select2-settings">
                                    <option value=""></option>
                                    <option value="1000">1 000 €</option>
                                    <option value="2000">2 000 €</option>
                                    <option value="5000">5 000 €</option>
                                    <option value="10000">10 000 €</option>
                                    <option value="20000">20 000 €</option>
                                    <option value="30000">30 000 €</option>
                                    <option value="40000">40 000 €</option>
                                    <option value="50000">50 000 €</option>
                                    <option value="60000">60 000 €</option>
                                    <option value="70000">70 000 €</option>
                                    <option value="80000">80 000 €</option>
                                    <option value="90000">90 000 €</option>
                                    <option value="100000">100 000 €</option>
                                    <option value="200000">200 000 €</option>
                                </select></div>
                        </div>
                    </div>
                    <div class="col-xl-12" style="text-align: center;padding: 0 8px;"><button id="searchButton" class="btn btn-danger" type="submit" style="margin: 16px 0 8px;width: 100%;">Search</button></div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-11 col-xxl-9">
            <div class="row">
                <div class="col-xxl-12 text-end form-inline mb-3"><label class="form-label d-inline-block" for="sort-select">Sort by&nbsp;</label><select class="js-sort js-select2-tags js-select2-settings">
                        <option value="-updated">Date ↑</option>
                        <option value="+updated" selected="">Date ↓</option>
                        <option value="-price">Price ↑</option>
                        <option value="+price">Price ↓</option>
                    </select></div>
                <!-- MAIN CONTENT ----------------------------------------------------->
                <div id="listings-content" class="row">
                </div>
                <!-- MAIN CONTENT END ------------------------------------------------->
            </div>
        </div>
    </div>
</div>
<div style="text-align: center;">
    <div class="mypagination"></div>
</div>
