<!-- <script src="assets/js/new-ad.js"></script> -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-12 col-lg-10 col-xl-8 col-xxl-8 offset-lg-1 offset-xl-2 offset-xxl-2 mb-3">
            <div class="card">
                <div class="card-body" style="padding: 8px 16px;">
                    <form id="newListingForm" method="post" onsubmit="New.add(); return false;" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-xxl-12">
                                <h4 style="text-align: center;">Publish your offer</h4>
                                <p style="text-align: center;">To publish your car offer on our website, please fill in this form with the all necessary information.</p>
                            </div>
                            <div class="col-xxl-12 mb-4"><label class="form-label" for="newad-car-body">Car body<span style="color: red;">*</span></label><select class="form-select js-body" name="car_body" id="newad-car-body" required="">
                                    <option value="" selected=""></option>
                                    <option value="1">Sedan</option>
                                    <option value="2">Combi</option>
                                    <option value=""></option>
                                </select></div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mb-4"><label class="form-label" for="newad-brand">Brand<span style="color: red;">*</span></label><select class="form-select js-brand" id="newad-brand" required="">
                                    <option value="" selected=""></option>
                                </select></div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mb-4"><label class="form-label" for="newad-model">Model<span style="color: red;">*</span></label><select class="form-select js-model" name="model" id="newad-model" disabled="" required="">
                                    <option value="" selected=""></option>
                                </select></div>
                            <div class="col-xxl-12 mb-4"><label class="form-label" for="newad-title">Ad Title<span style="color: red;">*</span></label><input class="form-control" type="text" name="title" id="newad-title" placeholder="Best car ever! Buy it now!" maxlength="32" required=""></div>
                            <div class="col-xxl-12"><label class="form-label" for="newad-description">Description</label><textarea class="form-control" name="description" id="newad-description" rows="5" maxlength="1000" placeholder="Description like vehicle's conditions, problems, good things..."></textarea>
                                <p id="newad-count" style="text-align: right;">0 / 1000</p>
                            </div>
                            <div class="col-xxl-12 mb-4">
                                <label class="form-label">Vehicle photos</label>
                                <fieldset class="form-group">
                                    <a href="javascript:void(0)" onclick="$('#pro-image').click()" style="text-decoration: none">
                                        <div class="input-group">
                                            <span class="input-group-text rounded-0 rounded-top rounded-bottom" id="imagesInputLabel">Select images<br></span>
                                            <input class="form-control rounded-0 rounded-top rounded-bottom" id="imagesInputNumber" value="Selected: 0" disabled readonly style="background-color:white; cursor: pointer;">
                                        </div>
                                    </a>
                                    <input type="file" id="pro-image" style="display: none;" class="form-control" multiple accept=".jpg, .jpeg, .png">
                                </fieldset>
                                <div class="preview-images-zone rounded-bottom border border-top-0" style="display:none;"></div>
                                <div id="imagesAlert" class="alert alert-danger mt-3" role="alert" style="display: none;"><span>Maximum number of photos is 10.</span></div>
                            </div>
                            <div class="col-xxl-12">
                                <h4 style="text-align: center;">Detailed vehicle attributes</h4>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mb-4"><label class="form-label" for="newad-price">Price<span style="color: red;">*</span></label>
                                <div class="input-group"><input class="form-control" type="number" name="price" id="newad-price" placeholder="10000" required=""><span class="input-group-text">€<br></span></div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mb-4"><label class="form-label" for="newad-km">Mileage</label>
                                <div class="input-group"><input class="form-control" type="number" name="km" id="newad-km" min="0" max="1000000" placeholder="150000"><span class="input-group-text">Km</span></div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mb-4"><label class="form-label" for="newad-year">Year of fabrication<span style="color: red;">*</span></label><input class="form-control" type="number" name="fabricated" id="newad-year" min="1900" max="2038" placeholder="2018" required=""></div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mb-4"><label class="form-label" for="newad-motor">Motor size (cm<sup>3</sup>)</label><input class="form-control" type="number" name="motor_size" id="newad-motor" min="100" max="10000" placeholder="2200"></div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mb-4"><label class="form-label" for="newad-gearbox">Gearbox</label><select class="form-select js-gear" name="gearbox" id="newad-gearbox">
                                    <option value="" selected=""></option>
                                    <option value="1">Manual</option>
                                    <option value="2">Automatic</option>
                                </select></div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mb-4"><label class="form-label" for="newad-year">Fuel</label><select class="form-select js-fuel" name="fuel_type" id="newad-fuel">
                                    <option value="" selected=""></option>
                                    <option value="1">Diesel</option>
                                    <option value="2">Gasoline</option>
                                    <option value="3">Gas</option>
                                    <option value="4">Hybrid</option>
                                    <option value="5">Electric</option>
                                </select></div>
                            <div class="col-xxl-12">
                                <p class="text-start text-muted" style="font-size: 14px;"><span style="color: red;">*</span>These fields are mandatory.</p>
                            </div>
                            <div class="col-xxl-12 text-end mb-3"><button class="btn btn-link" type="button">Cancel</button><button id="newAdButton" class="btn btn-primary btn-lg" type="submit">Publish</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
/*    $(function () {

    });

    function file2base64(event){
        var temp = {};
        for(var i = 0; i < event.files.length; i++){
            temp[i] = {"name" : event.files[i].name};
        }
        console.log(event.files);
        //delete temp[1];
        console.log(temp);
        $('#upload-images').html("");
        for(var i = 0; i < event.files.length; i++){
            var f = event.files[i];
            var reader = new FileReader();

            reader.onload = (function(theFile) {
                return function(e) {
                    //$('#upload-img').attr('src', e.target.result);
                    $('#upload-images').append('<img id="upload-img" src="'+ e.target.result +'" alt="wait for upload" style="width:100px; height:75px; object-fit: cover; background-color: red;">');
                    console.log(e);

                    var upload = {
                        name: f.name,
                        content: e.target.result.split(',')[1]
                    };

                    $.ajax({
                        url: "api/user/photos/add",
                        type: "POST",
                        data: JSON.stringify(upload),
                        contentType: "application/json",
                        beforeSend: function(xhr){
                            xhr.setRequestHeader('Authentication', localStorage.getItem("token"));
                            XMLHttpRequest.upload.addEventListener("progress", function(evt){
                                if (evt.lengthComputable) {
                                    var percentComplete = evt.loaded / evt.total;
                                    //Do something with upload progress
                                }
                            }, false);
                        },
                        success: function (data) {
                            console.log(data);
                            $('#upload-img').attr('src', data.url);

                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR);

                        }
                    });
                };
            }) (f);

            reader.readAsDataURL(f);
        }
    }*/
</script>
