<link rel="stylesheet" href="assets/css/publications.css">
<div class="container mt-3">
    <div class="row">

        <div class="col-md-4 col-lg-3 col-xl-3">
            <div class="card" id="profile-box">
                <div class="card-body">
                    <div class="photo mt-3"><i class="fa fa-user-circle-o"></i></div>
                    <h5 class="card-title"><strong>Fname Lname</strong></h5>
                    <p class="admin">Admin Lvl. 1</p>
                    <ul class="list-unstyled mt-3">
                        <li active=""><a href="#profile" class="btn" type="button">Personal information</a></li>
                        <li active=""><a href="#publications" class="btn active" type="button">Your publications</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-lg-9 col-xl-9">
            <div class="card" id="publications">
                <div class="card-body">
                    <h4 class="card-title mb-1"><strong>Your publications</strong></h4>
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"><a class="card" href="#"><img src="https://picsum.photos/200" style="object-fit: cover;">
                        <div class="card-body">
                            <h6>Volkswagen Sharan&nbsp;</h6>
                            <ul class="list-inline atributes">
                                <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-calendar3">
                                        <path fill-rule="evenodd" d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
                                        <path fill-rule="evenodd" d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                    </svg>&nbsp;2020</li>
                                <li class="list-inline-item"><i class="fas fa-angle-double-up"></i>&nbsp;180 000 km</li>
                                <li class="list-inline-item"><i class="la la-cogs"></i>&nbsp;Diesel</li>
                                <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-manual-gearbox">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="5" cy="6" r="2"></circle>
                                        <circle cx="12" cy="6" r="2"></circle>
                                        <circle cx="19" cy="6" r="2"></circle>
                                        <circle cx="5" cy="18" r="2"></circle>
                                        <circle cx="12" cy="18" r="2"></circle>
                                        <line x1="5" y1="8" x2="5" y2="16"></line>
                                        <line x1="12" y1="8" x2="12" y2="16"></line>
                                        <path d="M19 8v2a2 2 0 0 1 -2 2h-12"></path>
                                    </svg>&nbsp;Manual</li>
                                <li class="list-inline-item"><i class="icon ion-speedometer"></i>&nbsp;2 300 cm<sup>3</sup></li>
                            </ul>
                            <p class="price">123 000&nbsp;<i class="fa fa-euro"></i></p>
                        </div>
                    </a></div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"><a class="card" href="#"><img src="https://picsum.photos/200" style="object-fit: cover;">
                        <div class="card-body">
                            <h6>Volkswagen Sharan&nbsp;</h6>
                            <ul class="list-inline atributes">
                                <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-calendar3">
                                        <path fill-rule="evenodd" d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
                                        <path fill-rule="evenodd" d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                    </svg>&nbsp;2020</li>
                                <li class="list-inline-item"><i class="fas fa-angle-double-up"></i>&nbsp;180 000 km</li>
                                <li class="list-inline-item"><i class="la la-cogs"></i>&nbsp;Diesel</li>
                                <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-manual-gearbox">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="5" cy="6" r="2"></circle>
                                        <circle cx="12" cy="6" r="2"></circle>
                                        <circle cx="19" cy="6" r="2"></circle>
                                        <circle cx="5" cy="18" r="2"></circle>
                                        <circle cx="12" cy="18" r="2"></circle>
                                        <line x1="5" y1="8" x2="5" y2="16"></line>
                                        <line x1="12" y1="8" x2="12" y2="16"></line>
                                        <path d="M19 8v2a2 2 0 0 1 -2 2h-12"></path>
                                    </svg>&nbsp;Manual</li>
                                <li class="list-inline-item"><i class="icon ion-speedometer"></i>&nbsp;2 300 cm<sup>3</sup></li>
                            </ul>
                            <p class="price">123 000&nbsp;<i class="fa fa-euro"></i></p>
                        </div>
                    </a></div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3"><a class="card" href="#"><img src="https://picsum.photos/200" style="object-fit: cover;">
                        <div class="card-body">
                            <h6>Volkswagen Sharan&nbsp;</h6>
                            <ul class="list-inline atributes">
                                <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-calendar3">
                                        <path fill-rule="evenodd" d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
                                        <path fill-rule="evenodd" d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                    </svg>&nbsp;2020</li>
                                <li class="list-inline-item"><i class="fas fa-angle-double-up"></i>&nbsp;180 000 km</li>
                                <li class="list-inline-item"><i class="la la-cogs"></i>&nbsp;Diesel</li>
                                <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-manual-gearbox">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="5" cy="6" r="2"></circle>
                                        <circle cx="12" cy="6" r="2"></circle>
                                        <circle cx="19" cy="6" r="2"></circle>
                                        <circle cx="5" cy="18" r="2"></circle>
                                        <circle cx="12" cy="18" r="2"></circle>
                                        <line x1="5" y1="8" x2="5" y2="16"></line>
                                        <line x1="12" y1="8" x2="12" y2="16"></line>
                                        <path d="M19 8v2a2 2 0 0 1 -2 2h-12"></path>
                                    </svg>&nbsp;Manual</li>
                                <li class="list-inline-item"><i class="icon ion-speedometer"></i>&nbsp;2 300 cm<sup>3</sup></li>
                            </ul>
                            <p class="price">123 000&nbsp;<i class="fa fa-euro"></i></p>
                        </div>
                    </a></div>

            </div>
        </div>
    </div>
</div>
