<link rel="stylesheet" href="assets/css/publications.css">
<link rel="stylesheet" href="assets/css/profile.css">
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 col-lg-3 col-xl-3">
            <div class="card" id="profile-box">
                <div class="card-body">
                    <div class="photo mt-3"><i class="fa fa-user-circle-o"></i></div>
                    <h5 class="card-title"><strong class="profileFLname"></strong></h5>
                    <p class="admin d-none"></p>
                    <ul class="list-unstyled mt-3">
                        <li active=""><a href="#profile" class="btn" type="button">Personal information</a></li>
                        <li active=""><a href="#publications" class="btn active" type="button">Your publications</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-9 col-xl-9">
            <div class="card" id="publications">
                <div class="card-body">
                    <h4 class="card-title mb-1"><strong>Your publications</strong></h4>
                </div>
            </div>
            <div class="row" id="publicationsList"></div>
        </div>
    </div>
</div>
